table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 30px;
    text-align: left;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

table, th, td {
    padding: 10px 20px;
border: 1px solid rgba(0,0,0,0.5);
}

table input{
    border: none;
    outline: none;
    width: 100%;
}
